<!DOCTYPE html>
<html>

<head>
    <title>購物車</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
    td {
        background-color: #FDF5E6;
        text-align: center;
    }
</style>

<body>
    <!-- 菜單在header裡 -->
    <div>
        <table class="table">
            <thead style="background-color: #AAAAAA">
                <tr>
                    <th style="text-align: center" class="col-md-1">訂單編號</th>
                    <th style="text-align: center" class="col-md-2">書名</th>
                    <th style="text-align: center" class="col-md-1">單價</th>
                    <th style="text-align: center" class="col-md-1">數量</th>
                    <th style="text-align: center" class="col-md-2">總價</th>
                    <th style="text-align: center" class="col-md-2">下單日期</th>
                    <th style="text-align: center" class="col-md-2">訂單狀態</th>
                </tr>
            </thead>
            <tbody class="List">
                {{foreach $orderBookArrays as $orderBookArray}}
                <tr>
                    <td>
                        {{$orderBookArray['orderId']}}
                    </td>
                    <td>
                        {{$orderBookArray['bookName']}}
                    </td>
                    <td>
                        {{$orderBookArray['bookPrice']}}
                    </td>
                    <td>
                        {{$orderBookArray['buyCount']}}
                    </td>
                    <td>
                        {{$orderBookArray['totalPrice']}}
                    </td>
                    <td>
                        {{$orderBookArray['orderDate']}}
                    </td>
                    <td>
                        {{$orderBookArray['orderStatus']}}
                    </td>
                </tr>
                {{/foreach}}
            </tbody>
        </table>
    </div>
    <div class="text-center text-center">
        <ul class="pagination">
            {{if $orderSearch == ""}}
                {{for $page = 1 to $pageCount }}
                    {{if $page == $nowPage}}
                    <li class="active"><a role="button" id="nowPage" name="page">{{$page}}</a></li>
                    {{else}}
                    <li><a href="/Store/Controller/member/order/showUserOrder.php?page={{$page}}" role="button" id="page" name="page">{{$page}}</a></li>
                    {{/if}}
                {{/for}}
            {{else}}
                {{for $page = 1 to $pageCount }}
                    {{if $page == $nowPage}}
                    <li class="active"><a role="button" id="nowPage" name="page">{{$page}}</a></li>
                    {{else}}
                    <li><a href="/Store/Controller/member/order/showUserOrder.php?page={{$page}}&orderSearch={{$orderSearch}}" role="button" id="page" name="page">{{$page}}</a></li>
                    {{/if}}
                {{/for}}
            {{/if}}
        </ul>
    </div>
</body>

<script src="http://localhost/Store/Controller/javascript/tool.js"></script>

</html>