<!DOCTYPE html>
<html lang="utf-8">

<head>
    <title>書</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner img {
            width: 100%;
            /* Set width to 100% */
            min-height: 200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <h3>商品</h3>
        <br>
        <div class="row">
            {{foreach $newBookArrays as $newBookArray}}
            <div class="col-sm-3">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <img src="/Store/Controller/image/{{$newBookArray['bookPhoto']}}"
                        style="height: 200px; width: 200px; text-align: center;" class="img-responsive img-thumbnail"
                        alt="Image">
                </div>
                <h5><strong>《{{$newBookArray['bookName']}}》</strong></h5>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div class="well" style="height: 150px; width: 250px;">
                        <p>{{$newBookArray['bookInfo']}}</p>
                    </div>
                </div>
                <p>{{$newBookArray['bookPrice']}} NTD</p>
                <!-- 加入購物車按鈕 -->
                <!-- 已加入關掉不給按 -->
                <!-- 沒登入就不顯示了 -->
                {{if isset($newBookArray['isAddCart'])}}
                    {{if $newBookArray['isAddCart'] === true}}
                        <button type="button" class="btn btn-success" disabled="true">
                            已納入購物車
                        </button>
                    {{else}}
                        <button type="button" class="btn btn-success" value="{{$newBookArray['bookId']}}" id="btnAddCart"
                            name="btnAddCart">
                            加入購物車
                        </button>
                    {{/if}}
                {{/if}}
                <!-- 加入購物車按鈕 -->
                <hr>
            </div>
            {{/foreach}}
        </div>
        
    </div>

</body>

<script src="http://localhost/Store/Controller/javascript/tool.js"></script>

</html>