<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">去購物</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../member/register.php"><span class="glyphicon glyphicon-user"></span> 帳戶管理 </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 我的購物車 </a></li>
            </ul>
        </div>
    </div>
</nav>