<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品清單</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
    td {
        background-color: #FDF5E6;
    }
    .tips {
        color:red;
    }
</style>

<body>
    <!-- 菜單在header裡 -->
    <p></p>
    <div>
        <table class="table">
            <thead style="background-color: #AAAAAA">
                <tr>
                    <th style="text-align: center" class="col-md-1">預覽圖</th>
                    <th class="col-md-1">書名</th>
                    <th class="col-md-1">作者</th>
                    <th class="col-md-6">書本介紹</th>
                    <th style="text-align: center" class="col-md-1">價格</th>
                    <th style="text-align: center" class="col-md-1">當前庫存</th>
                    <th style="text-align: center" class="col-md-1">修改</th>
                    <th style="text-align: center" class="col-md-1">刪除</th>
                </tr>
            </thead>
            <tbody class="List">
                {{foreach $bookArrays as $bookArray}}
                <tr>
                    <td style="text-align: center">
                        <input type="hidden" id="showBookPhotoName{{$bookArray['bookId']}}"
                            value="{{$bookArray['bookPhoto']}}">
                        <img src="/Store/Controller/image/{{$bookArray['bookPhoto']}}" class="img-circle" height="55"
                            width="55">
                    </td>
                    <td>
                        <p id="showBookName{{$bookArray['bookId']}}">{{$bookArray['bookName']}}</p>
                    </td>
                    <td>
                        <p id="showBookAuthor{{$bookArray['bookId']}}">{{$bookArray['bookAuthor']}}</p>
                    </td>
                    <td>
                        <p id="showBookInfo{{$bookArray['bookId']}}">{{$bookArray['bookInfo']}}</p>

                    </td>
                    <td style="text-align: center">
                        <p id="showBookPrice{{$bookArray['bookId']}}">{{$bookArray['bookPrice']}}</p>
                    </td>
                    <td style="text-align: center">
                        <p id="showBookInStock{{$bookArray['bookId']}}">{{$bookArray['bookInStock']}}</p>
                    </td>
                    <td style="text-align: center">
                        <button type="button" class="btn btn-default" value="{{$bookArray['bookId']}}"
                            name="btnShowUpdateBook" id="btnShowUpdateBook">修改
                        </button>
                    </td>
                    <td style="text-align: center">
                        <button type="button" class="btn btn-default" value="{{$bookArray['bookId']}}"
                            name="btnDeleteBook" id="btnDeleteBook">刪除
                        </button>
                    </td>
                </tr>
                {{/foreach}}
            </tbody>
        </table>
    </div>

    <!-- 新增modal -->
    <div class="modal fade" id="modalAddBook" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增商品</h4>
                </div>
                <div class="modal-body">
                    <form id="formAddBook">
                        <div class="form-group">
                            <label>書名 : </label>
                            <input type="text" class="form-control" name="addBookName" id="addBookName">
                            <p id="tipsAddBookName" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>作者 : </label>
                            <input type="text" class="form-control" name="addBookAuthor" id="addBookAuthor">
                            <p id="tipsAddBookAuthor" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>書本介紹 : </label>
                            <input type="text" class="form-control" name="addBookInfo" id="addBookInfo">
                            <p id="tipsAddBookInfo" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>價格 : </label>
                            <input type="text" class="form-control" name="addBookPrice" id="addBookPrice">
                            <p id="tipsAddBookPrice" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>當前庫存 : </label>
                            <input type="text" class="form-control" name="addBookInStock" id="addBookInStock">
                            <p id="tipsAddBookInStock" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label class="btn btn-info">
                                <input style="display:none;" type="file" name="addBookPhoto" id="addBookPhoto">
                                <span class="glyphicon glyphicon-picture"></span>
                                上傳圖片
                            </label>
                            <br>
                            <label>書本預覽上傳 : </label>
                            <br>
                            <img id="addBookPhotoDemo" height="150" width="130">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnBookAdd" name="btnBookAdd" disabled="true">新增</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改model -->
    <div class="modal fade" id="modalUpdateBook" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">修改商品</h4>
                </div>
                <div class="modal-body">
                    <form id="formUpdateBook">
                        <div>
                            <input type="hidden" id="bookId" name="bookId" value="">
                        </div>
                        <div class="form-group">
                            <label>書名 : </label>
                            <input type="text" class="form-control" name="updateBookName" id="updateBookName" value="">
                            <p id="tipsUpdateBookName" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>作者 : </label>
                            <input type="text" class="form-control" name="updateBookAuthor" id="updateBookAuthor"
                                value="">
                            <p id="tipsUpdateBookAuthor" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>書本介紹 : </label>
                            <textarea style="height: 300px;" type="text" class="form-control" name="updateBookInfo"
                                id="updateBookInfo"></textarea>
                            <p id="tipsUpdateBookInfo" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>價格 : </label>
                            <input type="text" class="form-control" name="updateBookPrice" id="updateBookPrice"
                                value="">
                            <p id="tipsUpdateBookPrice" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label>當前庫存 : </label>
                            <input type="text" class="form-control" name="updateBookInStock" id="updateBookInStock" 
                                value="">
                            <p id="tipsUpdateBookInStock" class="tips"></p>
                        </div>
                        <div class="form-group">
                            <label class="btn btn-info">
                                <input type="hidden" name="updateBookPhotoName" id="updateBookPhotoName" value="">
                                <input style="display:none;" type="file" name="updateBookPhoto" id="updateBookPhoto">
                                <span class="glyphicon glyphicon-picture"></span>
                                上傳圖片
                            </label>
                            <br>
                            <label>書本預覽上傳 : </label>
                            <br>
                            <img id="updateBookPhotoDemo" src="/Store/Controller/image/{{$bookArray['bookPhoto']}}"
                                height="150" width="130">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnActionBookUpdate"
                        name="btnActionBookUpdate">修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddBook" 
            id="btnBookAdd" name="btnBookAdd">新增商品</button>
    </div>
    <hr>
    <div class="text-center text-center">
        <ul class="pagination">
            {{if isset($keyword)}}
                {{for $page = 1 to $pageCount }}
                    {{if $page == $nowPage}}
                    <li class="active"><a role="button" id="nowPage" name="page">{{$page}}</a></li>
                    {{else}}
                    <li><a href="/Store/Controller/admin/book/showBook.php?page={{$page}}&indexSearch={{$keyword}}" role="button" id="page" name="page">{{$page}}</a></li>
                    {{/if}}
                {{/for}}
            {{else}}
                {{for $page = 1 to $pageCount }}
                    {{if $page == $nowPage}}
                    <li class="active"><a role="button" id="nowPage" name="page">{{$page}}</a></li>
                    {{else}}
                    <li><a href="/Store/Controller/admin/book/showBook.php?page={{$page}}" role="button" id="page" name="page">{{$page}}</a></li>
                    {{/if}}
                {{/for}}
            {{/if}}
        </ul>
    </div>
</body>

<script src="http://localhost/Store/Controller/javascript/book/showBook.js"></script>
<script src="http://localhost/Store/Controller/javascript/book/addBook.js"></script>
<script src="http://localhost/Store/Controller/javascript/book/updateBook.js"></script>
<script src="http://localhost/Store/Controller/javascript/tool.js"></script>

</html>