<!DOCTYPE html>
<html>
<!-- model -->
<body>
    <div class="container" id="mainModal">
        <div class="modal fade" id="modelUpdateBook" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">修改商品</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formUpdateBook">
                            <div>
                                <input type="hidden" id="bookId" name="bookId" value="{{$bookArray['bookId']}}">
                            </div>
                            <div class="form-group">
                                <label>書名 : </label>
                                <input type="text" class="form-control" name="bookName" id="bookName" value="{{$bookArray['bookName']}}">
                                <p id="tipsBookName"></p>
                            </div>
                            <div class="form-group">
                                <label>作者 : </label>
                                <input type="text" class="form-control" name="bookAuthor" id="bookAuthor" value="{{$bookArray['bookAuthor']}}">
                                <p id="tipsBookAuthor"></p>
                            </div>
                            <div class="form-group">
                                <label>書本介紹 : </label>
                                <textarea style="height: 300px;"type="text" class="form-control" name="bookInfo" id="bookInfo" >{{$bookArray['bookInfo']}}</textarea>
                                <p id="tipsBookInfo"></p>
                            </div>
                            <div class="form-group">
                                <label>價格 : </label>
                                <input type="text" class="form-control" name="bookPrice" id="bookPrice" value="{{$bookArray['bookPrice']}}">
                                <p id="tipsBookPrice"></p>
                            </div>
                            <div class="form-group">
                                <label>書本預覽上傳 : </label>
                                <label class="btn btn-info">
                                    <input type="hidden" name="bookPhotoName" id="bookPhotoName" value="{{$bookArray['bookPhoto']}}">
                                    <input style="display:none;" type="file" name="bookPhoto" id="bookPhoto">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    上傳圖片
                                </label>
                                <br>
                                <img id="bookPhotoDemo" src="/Store/Controller/image/{{$bookArray['bookPhoto']}}" height="150" width="130">
                                <p id="tipsbookPhoto"></p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnActionBookUpdate" name="btnActionBookUpdate"
                            >修改</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <script src="http://localhost/Store/Controller/javascript/tool.js"></script> -->

</html>