<!DOCTYPE html>
<html>
<style>
    td {
        background-color: #FDF5E6;
    }
</style>

<body>
    <!-- 菜單在header裡 -->
    <div>
        <table class="table">
            <thead style="background-color: #AAAAAA">
                <tr>
                    <th style="text-align: center" class="col-md-1">書名</th>
                    <th style="text-align: center" class="col-md-1">單價</th>
                    <th style="text-align: center" class="col-md-1">數量</th>
                    <th style="text-align: center" class="col-md-1">總價</th>
                    <th style="text-align: center" class="col-md-1">下單日期</th>
                </tr>
            </thead>
            <tbody class="List">
                {{foreach $orderBookObj as $orderBookArrays}}
                <tr>
                    <td>
                        {{$orderBookArrays['bookName']}}
                    </td>
                    <td>
                        {{$orderBookArrays['bookPrice']}}
                    </td>
                    <td>
                        {{$orderBookArrays['buyCount']}}
                    </td>
                    <td>
                        {{$orderBookArrays['totalPrice']}}
                    </td>
                    <td>
                        {{$orderBookArrays['orderDate']}}
                    </td>
                </tr>
                {{/foreach}}
            </tbody>
        </table>
    </div>
</body>

</html>