<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理者登入</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://localhost/Store/Controller/javascript/tool.js"></script>
</head>
<style>
    p {
        color:red;
    }
</style>

<body>
    <!-- 菜單在header裡 -->
    <p></p>
    <div class="container">
        <div class="col-md-5 col-md-offset-3">
            <h2>管理者登入</h2>
            <hr>
            <div class="form-group">
                <label>帳號 : </label>
                <input type="text" class="form-control" name="account" id="account" placeholder="英數2碼以上12碼以下">
                <p id="tipsAccount"></p>
            </div>
            <div class="form-group">
                <label>密碼 : </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="英數2碼以上12碼以下">
                <p id="tipsPassword"></p>
            </div>
            <div class="form-group">
                <label>管理者金鑰 : </label>
                <input type="password" class="form-control" name="adminKey" id="adminKey" placeholder="必填">
                <p id="tipsAdminKey"></p>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary offset-sm-3" id="btnAdminLogin" disabled="true">登入</button>
                <a href="/Store/Controller/index/index.php" class="btn btn-danger offset-sm-2" role="button">取消</a>
            </div>
        </div>
    </div>
</body>

</html>